# App
DEBUG=false
SECRET_KEY=your-secret-key-change-this

# Supabase
SUPABASE_URL=https://adalozqunrwedbsqbkzz.supabase.co
SUPABASE_KEY=sb_secret_qlmeHV2GHhYYToMSTHNSqg_R0biVUsA

# Kakao Map
KAKAO_JS_KEY=d3bcb43aeb8f7bfa8227459508ecc356
